.btn {
  background-color: var(--color-primary-red);
  border: unset;
  min-height: 45px;
  min-width: 150px;
  border-radius: 50px;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  box-shadow: 0 2px 7px var(--color-primary-red);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
