@use "../base/" as *;

.content {
  margin-top: 3rem;

  &__intro {
    padding: 48px 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;

    @include media("<=tablet") {
      padding: 24px;
      flex-direction: column-reverse;
      text-align: center;
    }

    &--details {
      h1 {
        line-height: 1.2;
        font-size: 4.3rem;
        font-weight: 700;
      }

      p {
        color: var(--color-secondary-grayblue);
        margin: 24px 0px;
      }
    }

    &--image {
      //   padding-right: 92px;
    }
  }

  &__features {
    display: flex;
    margin-top: 4rem;
    padding: 48px 102px;
    justify-content: space-between;

    @include media("<=tablet") {
      padding: 24px;
      flex-direction: column-reverse;
      text-align: center;
      gap: 5rem;
    }

    &--question {
      flex: 1 1 50%;
      .question {
        font-size: 3.2rem;
      }
      .answer {
        color: var(--color-secondary-grayblue);
        margin: 24px 0px;
      }
    }

    &--details {
      flex: 1 1 50%;
      .feature__wrapper {
        display: flex;
        gap: 24px;
        margin-bottom: 6rem;
        max-width: 500px;
        flex-direction: column;

        .index__wrapper {
          display: flex;
          gap: 16px;
          align-items: center;
          @include media("<=tablet") {
            background-color: #f25f3a30;
            border-radius: 20px 0px 0px 20px;
            min-height: 45px;
          }

          .index {
            height: 30px;
            width: 50px;
            border-radius: 20px;
            background-color: var(--color-primary-red);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 300;

            @include media("<=tablet") {
              min-height: 45px;
              min-width: 70px;
            }
          }

          .title {
            font-weight: 700;
          }
        }

        .feature {
          &__title {
            font-weight: 700;
          }

          &__des {
            color: var(--color-secondary-grayblue);
            font-size: 1.4rem;
            text-align: left;
            margin-left: 7rem;
          }
        }
      }
    }
  }

  &__views {
    text-align: center;
    &--title {
      font-weight: 500;
      font-size: 3.4rem;
      margin: 32px 0px;
    }

    .views__container {
      display: flex;
      overflow-x: auto;

      @include media("<=tablet") {
        flex-direction: column;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &--details {
        min-width: 500px;
        text-align: center;
        background-color: var(--color-secondary-gray);
        padding: 16px;
        margin: 0px 16px;
        display: none;

        @include media("<=tablet") {
          flex-direction: column;
          min-width: unset;
        }

        &.active {
          display: block;
        }

        .image__wrapper {
          height: 70px;
          width: 70px;
          margin: 0 auto;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .name {
          font-weight: 700;
          margin: 24px 0px;
          text-transform: capitalize;
        }

        .view {
          color: var(--color-secondary-grayblue);
        }

        /* Fading animation */
        &.fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @keyframes fade {
          from {
            opacity: 0.4;
          }
          to {
            opacity: 1;
          }
        }
      }

      &--dots {
        display: flex;
        margin: 0 auto;
        gap: 10px;
        .dot {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: 1px solid var(--color-primary-red);

          &.active {
            background-color: var(--color-primary-red);
          }
        }
      }
    }
    .btn {
      margin: 32px 0px;
    }
  }

  &__support {
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    background-color: var(--color-primary-red);
    align-items: center;
    padding: 48px 102px;
    margin-top: 48px;

    @include media("<=tablet") {
      flex-direction: column;
      padding: 24px;
      text-align: center;
    }

    h1 {
      color: white;
      font-weight: 700;
      line-height: 1.2;
    }

    .btn {
      background-color: white;
      color: var(--color-primary-red);
      font-size: 1.4rem;
      text-align: center;
    }
  }
}
