@use "../base/" as *;

.footer {
  min-height: 200px;
  background-color: var(--color-secondary-darkblue);
  display: flex;
  padding: 48px 72px;
  justify-content: space-between;

  @include media("<=desktop") {
    padding: 24px;
    flex-direction: column-reverse;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media("<=desktop") {
      flex-direction: column-reverse;
      gap: 32px;
      width: 100%;
    }

    p {
      color: var(--color-secondary-grayblue);
      font-size: 1.4rem;

      @include media(">desktop") {
        display: none;
      }
    }

    .logo {
      g {
        fill: var(--color-primary-red);
      }
      path {
        fill: white;
      }
    }

    .social-icons {
      @include media("<=desktop") {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
      }
      svg:not(:first-child) {
        margin-left: 10px;
      }
      svg {
        &:hover {
          path {
            fill: var(--color-primary-red);
          }
        }
      }
    }
  }

  .lists__wrapper {
    display: flex;
    gap: 20rem;
    @include media("<=desktop") {
      justify-content: space-between;
      padding: 24px;
      gap: unset;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;

      li {
        color: var(--color-secondary-palered);
        font-size: 1.6rem;
        margin: 5px 0px;

        &:hover {
          color: var(--color-primary-red);
        }
      }
    }
  }

  .button_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 30%;
    // flex: 40%;

    .input__wrapper {
      .btn {
        min-height: unset;
        min-width: unset;
        width: 60px;
        min-height: 45px;
        box-shadow: unset;
      }
      input {
        border: unset;
        border-radius: 20px;
        margin-right: 10px;
        min-height: 45px;
        padding: 0px 24px;

        &::placeholder {
          color: var(--color-secondary-grayblue);
        }

        &:focus {
          border: unset;
          outline: unset;
        }
      }
    }

    .rights {
      color: var(--color-secondary-grayblue);
      font-size: 1.4rem;

      @include media("<=desktop") {
        display: none;
      }
    }
  }
}
