@use "../base/" as *;

.header {
  display: flex;
  padding: 48px 108px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-x: clip;

  @include media("<=tablet") {
    padding: 24px 16px;
  }

  &__logo {
    display: inline;
    align-self: flex-end;
  }

  &__list {
    li {
      margin: 0px 16px;
      text-transform: capitalize;
      font-weight: 500;

      &:hover {
        color: var(--color-secondary-grayblue);
      }
    }

    @include media("<=tablet") {
      display: none;
    }
  }

  &__buttons {
    @include media("<=tablet") {
      display: none;
    }
    .btn:hover {
      opacity: 0.6;
    }
  }

  &__pattren {
    position: absolute;
    top: -99px;
    right: -165px;
    z-index: -1;
    max-height: 750px;
    max-width: 750px;
  }

  &__menu {
    display: none;

    @include media("<=tablet") {
      display: inline;
      align-self: baseline;
    }
  }
}
